<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Национален бюджет
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content appSwipe (swipeLeft)="onSwipeLeft($event)" (swipeRight)="onSwipeRight($event)" *ngIf="labels.length > 0">
  <ion-card>
    <ion-card-header class="ion-center horiz-center">
      <ion-card-title>
        <ion-grid>
          <ion-row class="border">
            <ion-accordion-group #accordionGroup style="height:auto;width:80vw;">
              <ion-accordion toggleIcon="menu" toggleIconSlot="start" value="first">
                <ion-item slot="header" color="light">
                  <ion-label>{{curTitle}}</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content" *ngFor="let type of getTypes()">
                  <button (click)="onTypeChange(type)"
                    style="font-size:large;border-width:20px;border-color: black;">{{type}}</button>
                </div>
              </ion-accordion>
            </ion-accordion-group>

          </ion-row>
          <ion-row class="horiz-center" style="background-color:silver;">
            <ion-col>
              <ion-button fill="clear" (click)="onYearChange(-1)" class="ion-img">
                <ion-img src="assets/left-arrow.png" class="arrows"></ion-img>
              </ion-button>
            </ion-col>
            <ion-col style="text-align:center;">
              {{year}}
            </ion-col>
            <ion-col>
              <ion-button fill="clear" (click)="onYearChange(1)" class="ion-img">
                <ion-img src="assets/right-arrow.png" class="arrows"></ion-img>
              </ion-button>
            </ion-col>

          </ion-row>
        </ion-grid>
      </ion-card-title>
    </ion-card-header>

  </ion-card>

  <!-- charts -->
  <app-doughnut-chart #d1 [labels]="dLabels_in" [values]="dValues_in" [subValues]="subValues_in"
    [subLabels]="subLebels_in" [hidden]="page!=0" [isIncome]="true">
  </app-doughnut-chart>
  <div [hidden]="page!=0">
    <ion-accordion-group #accordionGroup *ngFor="let prihod of prihodi">
      <ion-accordion toggleIcon="menu" toggleIconSlot="start" value="first">
        <ion-item slot="header" color="light">
          <span class="dot"></span>
          <ion-label>{{prihod.title}}</ion-label>
          <div style="text-align:left;">{{prihodi.length>1 ?((prihod.value*100)/priPer).toFixed(2) : 100}}%</div>
        </ion-item>
        <div class="ion-padding" slot="content" *ngFor="let subd of prihod.subdata">
          <span class="dot"></span>
          {{subd.name}}
          <div style="text-align:left;">{{prihod.subdata.length>1 ?((subd.value*100)/prihod.value).toFixed(2) : 100}}%
          </div>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </div>


  <app-bar-chart [labels]=" labels" [values]="values" [hidden]="page!=1"></app-bar-chart>
  <app-doughnut-chart #d2 [labels]=" dLabels_out" [values]="dValues_out" [subValues]="subValues_out"
    [subLabels]="subLebels_out" [hidden]="page!=2" [isIncome]="false">
  </app-doughnut-chart>
  <div [hidden]="page!=2">
    <ion-accordion-group #accordionGroup style="height:auto;width:80vw;" *ngFor="let razhod of razhodi">
      <ion-accordion toggleIcon="menu" toggleIconSlot="start" value="first">
        <ion-item slot="header" color="light">
          <span class="dot"></span>
          <ion-label>{{razhod.title}}</ion-label>
          <div style="text-align:left;">{{razhodi.length>1 ? ((razhod.value*100)/razPer).toFixed(2) : 100}}%</div>
        </ion-item>
        <div class="ion-padding" slot="content" *ngFor="let subd of razhod.subdata">
          <span class="dot"></span>
          {{subd.name}}
          <div style="text-align:left;">{{razhod.subdata.length>1 ?((subd.value*100)/razhod.value).toFixed(2) : 100}}%
          </div>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </div>

</ion-content>