<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Национален бюджет
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content appSwipe (swipeLeft)="onSwipeLeft($event)" (swipeRight)="onSwipeRight($event)" *ngIf="labels.length > 0">
  <ion-card>
    <ion-card-header class="ion-center horiz-center">
      <ion-card-title>
        <ion-grid>
          <ion-row class="border">
            <ion-accordion-group>
              <ion-accordion toggleIcon="menu" toggleIconSlot="start">
                <ion-item slot="header" color="light">
                  <ion-label>Национален бюджет</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content" *ngFor="let type of getTypes()">
                  {{type}}
                </div>
              </ion-accordion>
            </ion-accordion-group>

          </ion-row>
          <ion-row class="horiz-center" style="background-color:silver;">
            <ion-col>
              <ion-button fill="clear" (click)="onYearChange(-1)">
                <ion-img src="assets/left-arrow.png" class="arrows"></ion-img>
              </ion-button>
            </ion-col>
            <ion-col style="text-align:center;">
              {{year}}
            </ion-col>
            <ion-col>
              <ion-button fill="clear" (click)="onYearChange(1)">
                <ion-img src="assets/right-arrow.png" class="arrows"></ion-img>
              </ion-button>
            </ion-col>

          </ion-row>
        </ion-grid>
      </ion-card-title>
    </ion-card-header>
    <!-- <ion-card-content style="height:100%;"> -->
    <!-- <div> -->
  </ion-card>
  <app-bar-chart [labels]="labels" [values]="values"></app-bar-chart>
  <!-- </div> -->
  <!-- </ion-card-content> -->
  <!-- </ion-card> -->
</ion-content>